@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-bg-color: #f8faf7;
    --brand-secondary: #3c3c3c;
    --brand-text: #3c3c3c;
    --brand-modify-secondary: #3c3c3c;
    --product-bg-color: #f7f7f7;
    --button-bg-color: #3c3c3c;
    --button-text-color: #ffffff;
    --button-bg-hover-color: #232323;
    --button-text-hover-color: #ffffff;
    --button-text-color: #ffffff;
    --button-bg-hover-color: #232323;
    --button-text-hover-modify-color: rgba(255, 255, 255, 0.4);
    --button-text-hover-color: #ffffff;
    --product-btn-bg-color: #ffffff;
    --product-icon-color: #222222;
    --product-btn-bg-hover-color: #3c3c3c;
    --product-icon-hover-color: #ffffff;
    --navbar-background-color: #ecefeb;
    --navbar-text-modify-color: rgba(34, 34, 34, 0.1);
    --navbar-text-color: #222222;
    --header-icon-modify-color: rgba(34, 34, 34, 0.1);
    --header-icon-color: #222222;
    --header-icon-hover-color: #3c3c3c;
    --menu-bg-color: #ffffff;
    --menu-text-modify-color: rgba(102, 102, 102, 0.1);
    --menu-text-color: #666666;
    --menu-text-hover-color: #3c3c3c;
    --sale-bg-color: #3c3c3c;
    --sale-text-color: #ffffff;
    --soldout-bg-color: #c92c2c;
    --soldout-text-color: #ffffff;
    --footer-bg-color: #f6f7f8;
    --footer-heading-color: #222222;
    --footer-text-modify1-color: rgba(102, 102, 102, 0.1);
    --footer-text-modify2-color: rgba(102, 102, 102, 0.15);
    --footer-text-modify3-color: rgba(102, 102, 102, 0.2);
    --footer-text-color: #666666;
    --footer-text-hover-color: #3c3c3c;
    --footer-bottom-bg-color: #151515;
    --footer-bottom-text-color: #ececec;
    --password-color: #232323;
    --password-textcolor: #ffffff;
    --font-body-family: Poppins;
    --bg-free-shipping-indicator: #f9f9f9;
    --bg-free-shipping-indicator-eligible: #3c3c3c;
    --color-free-shipping-indicator: #232323;
    --color-free-shipping-indicator-eligible: #3c3c3c;
    --progress-truck-bg: #3c3c3c;
    --progress-truck-wrapper: #ffffff;
    --color-free-shipping-backgorund: ;
  }
}

@layer base {
  body {
    @apply bg-appBgColor;
  }
  *::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.zoom-in-out-box {
  width: 100%;
  height: 100%;
  animation: zoom-in-zoom-out 20s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
svg.star-svg {
  display: inline;
}

.embla {
  max-width: 100rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  margin-top: 5rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
